<?xml version="1.0"?>
<config>
    <modules>
        <MGS_Contactpro>
            <version>0.1.0</version>
        </MGS_Contactpro>
    </modules>
    <frontend>
        <routers>
            <contactpro>
                <use>standard</use>
                <args>
                    <module>MGS_Contactpro</module>
                    <frontName>contactpro</frontName>
                </args>
            </contactpro>
        </routers>
        <layout>
            <updates>
                <contactpro>
                    <file>contactpro.xml</file>
                </contactpro>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <contactpro>
                <use>admin</use>
                <args>
                    <module>MGS_Contactpro</module>
                    <frontName>contact-us</frontName>
                </args>
            </contactpro>
        </routers>
    </admin>
    <adminhtml>
        <menu>
			<mgscore module="mgscore">
				<children>
					<contactpro module="contactpro">
						<title>Contactpro</title>
						<sort_order>71</sort_order>               
						<children>
							<config module="contactpro">
                                <title>Configuration</title>
                                <sort_order>2</sort_order>
                                <action>adminhtml/system_config/edit/section/contactpro</action>
                            </config>
						</children>
					</contactpro>
				</children>
			</mgscore>
        </menu>
        <layout>
            <updates>
                <contactpro>
                    <file>contactpro.xml</file>
                </contactpro>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <template>
            <email>
                <contact_pro module="contactpro">
                    <label>Contact Pro Mail MGS</label>
                    <file>contact_pro.html</file>
                    <type>html</type>
                </contact_pro>
                <contact_pro_admin module="contactpro">
                    <label>Contact Pro Mail MGS Admin</label>
                    <file>contact_pro_admin.html</file>
                    <type>html</type>
                </contact_pro_admin>
            </email>
        </template>
        <events>
            <admin_system_config_changed_section_contactpro>
                <observers>
                    <MGS_contactpro_observers>
                        <type>singleton</type>
                        <class>contactpro/observers</class>
                        <method>saveconfig</method>
                    </MGS_contactpro_observers>
                </observers>
            </admin_system_config_changed_section_contactpro>    
        </events>
        <models>
            <contactpro>
                <class>MGS_Contactpro_Model</class>
                <resourceModel>contactpro_mysql4</resourceModel>
            </contactpro>
            <contactpro_mysql4>
                <class>MGS_Contactpro_Model_Mysql4</class>
                <entities>
                    <contactprofield>
                        <table>contact_pro_field</table>
                    </contactprofield>
                </entities>
            </contactpro_mysql4>
        </models>
        <resources>
            <contactpro_setup>
                <setup>
                    <module>MGS_Contactpro</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </contactpro_setup>
            <contactpro_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </contactpro_write>
            <contactpro_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </contactpro_read>
        </resources>
        <blocks>
            <contactpro>
                <class>MGS_Contactpro_Block</class>
            </contactpro>
        </blocks>
        <helpers>
            <contactpro>
                <class>MGS_Contactpro_Helper</class>
            </contactpro>
        </helpers>
    </global>
</config>